{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Employees
{% endblock %}

{% block content %}
<employees></employees>
{% endblock %}

{% block scripts %}
    <script src="{% static 'client_app/dist/runtime.js' %}" ></script>
    <script src="{% static 'client_app/dist/polyfills.js' %} " ></script>
    <script src="{% static 'client_app/dist/styles.js' %}" ></script>
    <script src="{% static 'client_app/dist/vendor.js' %}" ></script>
    <script src="{% static 'client_app/dist/main.js' %}" ></script>
{% endblock %}

