{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <div class="row">
        <div class="landingPage">
            <h1>Employees</h1>
            <p>This app will allow you to access and manipulate employees list</p>
            <a href="{% url 'employees_page' %}" class="btn btn-lg btn-success">View employees</a>
        </div>
    </div>
{% endblock %}