﻿<div class="col-md-8 col-md-offset-2">
    <div id="addLink" class="row">       
        <button type="submit" class="btn btn-success form-control" [routerLink]="['/addEmployee']">Add employee</button>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]='listFilter' />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Filtered by: {{ listFilter }}</h3>
        </div>
        <div class="col-md-1 col-md-offset-2"><a [routerLink]="['employees', active]" class="btn btn-success">Active</a></div>
        <div class="col-md-1 col-md-offset-1"><a [routerLink]="['employees', inactive]" class="btn btn-success">Inactive</a></div>
    </div>
    <div *ngIf="isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i>Loading</div>
    <table class="table table-responsive table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Active</th>
            <th></th><th></th><th></th>
        </tr>
        <tr *ngFor="let employee of filteredEmployees">
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td><a [routerLink]="['department', employee.department, 'employees']" [queryParams]="{filterBy: listFilter}">{{ departments[employee.department] }}</a></td>
            <td>{{ employee.active }}</td>
            <td><a [routerLink]="[employee.id,'edit']" [queryParams]="{filterBy: listFilter}" class="btn btn-sm btn-primary">Edit</a></td>
            <td><a [routerLink]="[employee.id,'format']" id="tagButton" class="btn btn-primary fa fa-code"></a></td>
            <td><a class="fa fa-remove text-danger" id="deleteButton" (click)="deleteEmployee(employee.id)"></a></td>
        </tr>
    </table>
</div>