{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'bootswatch/yeti/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'employees/site.css' %}" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        <ul class="nav">
            <li id="username">Welcome</li>
            <li class="active"><a href="{% url 'welcome_page' %}">Home</a></li>
            <li><a href="{% url 'employees_page' %}">Employees</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <nav>
            <div class="container-fluid" id="sidebarToggleDiv">
                <button id="sidebarToggle" class="btn btn-primary">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'employees/site.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>