﻿<div>
    <div><a [routerLink]="['/']" queryParamsHandling="preserve" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
    <div><h3>{{ format.first_name + " " + format.last_name }}</h3></div>
    <div class="col-md-6">
        <h3>JSON format</h3>
        <pre>{{ format | json}}</pre>
    </div>
    <div class="col-md-6">
        <h3>XML format</h3>
        <pre>{{ formatXML }}</pre>
    </div>
</div>