﻿<div class="col-md-6 col-md-offset-3">
    <div><a [routerLink]="'/'" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
    <h3>Add employee</h3>
    <div class="alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form #form="ngForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group" [class.has-error]="firstName.invalid">
            <label class="control-label" for="firstName">First Name</label>
            <input #firstName="ngModel" type="text" class="form-control" name="first_name" id="firstName" [(ngModel)]="employee.first_name" required />
        </div>
        <div class="form-group" [class.has-error]="lastName.invalid">
            <label class="control-label" for="lastName">Last Name</label>
            <input #lastName="ngModel" type="text" class="form-control" name="last_name" id="lastName" [(ngModel)]="employee.last_name" required />
        </div>
        <div class="form-group" [class.has-error]="email.invalid">
            <label class="control-label" for="email">Email</label>
            <input #email="ngModel" type="text" class="form-control" name="email" id="email" [(ngModel)]="employee.email" required />
        </div>
        <div class="form-group" [class.has-error]="department.invalid">
            <div class="radio-inline">
                <label><input #department="ngModel" type="radio" name="department" [value]="0" [(ngModel)]="employee.department" required>Development</label>
            </div>
            <div class="radio-inline">
                <label><input #department="ngModel" type="radio" name="department" [value]="1" [(ngModel)]="employee.department" required>Management</label>
            </div>
            <div class="radio-inline">
                <label><input #department="ngModel" type="radio" name="department" [value]="2" [(ngModel)]="employee.department" required>HR</label>
            </div>
        </div>
       
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-success">Save</button>
    </form>
</div>