#main {

    padding-bottom:50px;
}

.headshot {
    max-width: 50px;
    border:1px solid #222;
    padding : 3px;
}

.menu {
    font-size:12px;
}

.menu li {
    list-style-type:none;
}

.menu li.active {
    font-weight:bold;
}

#sidebar {
    background: rgb(7, 71, 166);
    color: rgb(222, 235, 255);
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: left ease .25s;
}

    #sidebar a {
        color: rgb(222, 235, 255);
    }

#sidebar.hide-sidebar {
    left: -250px;
    transition: left ease .25s;
}

#username {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-custom {
    background-color:white;
}

#sidebarToggle {
    background-color: #fff;
    color: rgb(7, 71, 166);
    border-color: #fff;
}

#sidebarToggleDiv {
    padding-left: 0;
}

.fa-angle-left, .fa-angle-right {
    font-size: x-large;
}

#tagButton {
    line-height: 1.5;
}

.landingPage {
    text-align:center;
}

#deleteButton {
    position:relative;
    top:10px;

}

#wrapper {
    margin: 0 0 0 250px;
    transition: margin-left ease .25s;
}

#wrapper.hide-sidebar {
    margin-left: 0;
    transition: margin-left ease .25s;
}
#homeLink {
    margin-left: 0px;
}
#addLink {
    padding-top:50px;
    padding-bottom: 100px;
}

.spinner {
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}