﻿<div>
    <div><a [routerLink]="['/']" queryParamsHandling="preserve" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{ employee.first_name + " " + employee.last_name }}
    </div>

<div class="panel-body" *ngIf="employee">
    <div class="wizard">
        <a [routerLink]="['info']" routerLinkActive="active">
            Basic Information
        </a>
    </div>

    <router-outlet></router-outlet>
</div>

<div class="panel-footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <span>
                <button class="btn btn-primary" type="button" (click)="updateEmployee()">
                    Update
                </button>
            </span>
            <span>
                <a class="btn btn-default" [routerLink]="['/']">
                    Cancel
                </a>
            </span>
            <span>
                <a class="btn btn-default"
                   (click)="deleteEmployee()">
                    Delete
                </a>
            </span>
        </div>
    </div>
</div>

<div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
