﻿<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          #employeeForm="ngForm">
        <fieldset>
            <legend>Employee information</legend>
            <div class="form-group">
                <label class="col-md-2 control-label"
                       for="firstName">First name</label>
                <div class="col-md-8">
                    <input class="form-control" id="firstName" type="text"
                           placeholder="First name" required minlength="3"
                           [(ngModel)]="employee.first_name" name="first_name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="lastName">Last Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="lastName" type="text"
                           placeholder="Last Name" [(ngModel)]=employee.last_name
                           name="last_name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-8">
                    <input class="form-control" id="email" type="text"
                           placeholder="Email" [(ngModel)]=employee.email
                           name="email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="department">Department</label>
                <div class="radio-inline">
                    <label><input type="radio" name="department" [value]="0" [(ngModel)]="employee.department">Development</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="department" [value]="1" [(ngModel)]="employee.department">Management</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="department" [value]="2" [(ngModel)]="employee.department">HR</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="active">Active</label>
                <div class="radio-inline">
                    <label><input type="radio" name="active" [value]="true" [(ngModel)]="employee.active">Yes</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="active" [value]="false" [(ngModel)]="employee.active">No</label>
                </div>
            </div>

            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div>