﻿<div>
    <div><a [routerLink]="['/']" queryParamsHandling="preserve" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-responsive table-striped">
            <tr *ngFor="let employee of employees">
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
            </tr>
        </table>
    </div>
</div>